# Code Directories to Ignore on Push
CAP/Code/__pycache__/
CAP/__pycache__/
Output/

# Package Files
CAP.egg-info/
build/
dist/

# Any Environment Files Built
.env/*
./.env/*

env/*
./env/*

# Mac 
.DS_Store
